@using DynamicMVC.Core
@model DynamicMVC.Core.TableOption

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DynamicView</title>
</head>
<body>
<div>
    <br/>
    <br/>
    @Html.TableItem(Model)
</div>
</body>
</html>
